@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


body {
    height: 100vh;
    background-image: url(/src/img/background.jpg);
    background-position: top center;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

header {
    display: flex;
    padding-bottom: 1vh;
}

header a {
    margin-left: auto;
    margin-right: 0;
    text-align: center;
    align-items: center;
    width: 160px;
    display: flex;
    padding-top: 10px;
    padding-right: 10px;
}

header a p {
    text-decoration: none;
    color: black;
    text-align: center;
    margin-right: 10px;
    font-size: 1rem;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.main-container {
    background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(255, 255, 255, 0.707) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(5px);
    border-radius: 18px;
    margin: 0 auto;
    width: 90vw;
    height: 80vh;
    border: 1px solid rgba(255, 255, 255, 0.423);
    position: relative;
    overflow: hidden;
}

.search-container {
    width: 11rem;
    margin: 0 auto;
    display: flex;
    color: black;
    padding-top: 5px;
}

.search-container input {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    text-align: center;
    border-bottom: 1px solid black;
}

.search-container input:focus{
    outline: none;
}

.search-container img {
    width: 16px;
    height: 16px;
    border-bottom: 1px solid black;
    transition: 0.2s;
}

.search-container img:hover{
    cursor: pointer;
    filter: opacity(70%);
    transition: 0.5s;
}

.current {
    width: 100%;
    font-weight: 700;
}

.current-temperature {
    display: flex;
    margin-top: 30vh;
    width: 7rem;
    margin-right: auto;
    margin-left: auto;
}

.temperature {
    font-weight: 700;
    font-size: 5rem;
    line-height: 21px;
}

.celsius {
    font-weight: 700;
    font-size: 2rem;
    height: 100%;
}

.location {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2vh;
}

.current-conditions {
    display: flex;
    margin-bottom: 0;
    height: 1.2rem;
    padding-left: 15px;
    padding-bottom: 1vh;
    position: absolute;
    bottom: 0;
    left: 0;
}

.weather-condition {
    font-weight: 700;
    padding-right: 1vw;
    font-size: 1.2rem;
}

.humidity {
    font-weight: 400;
    padding-right: 1vw;
    font-size: 1.2rem;
}

.feels-like {
    font-weight: 400;
    padding-right: 1vw;
    font-size: 1.2rem;
}


@media screen and (max-width: 360px) {
    .current-conditions {
        display: flex;
        margin-bottom: 0;
        height: 1rem;
        padding-left: 15px;
        padding-bottom: 3vh;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    .weather-condition {
        font-weight: 700;
        padding-right: 1vw;
        font-size: 1rem;
    }
    
    .humidity {
        font-weight: 400;
        padding-right: 1vw;
        font-size: 1rem;
    }
    
    .feels-like {
        font-weight: 400;
        padding-right: 1vw;
        font-size: 1rem;
    }
}